<mat-card>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        [ngModel]="postToEdit?.title"
        name="title"
        required
        minLength="3"
        #title="ngModel"
        placeholder="Enter title"
      />
      <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        [ngModel]="postToEdit?.content"
        name="content"
        rows="4"
        required
        #content="ngModel"
        placeholder="Enter content"
      ></textarea>
      <mat-error *ngIf="content.invalid">Please enter a content</mat-error>
    </mat-form-field>
    <button
      [disabled]="!postForm.valid"
      mat-raised-button
      color="primary"
      type="submit"
    >
      Save post
    </button>
  </form>
</mat-card>
