<mat-card>
    <form [formGroup]="form" (submit)="submit()">
      <mat-form-field>
        <input
          matInput
          formControlName="email"
          type="email"
          required
          placeholder="E-mail"
        />
        <mat-error *ngIf="form.get('email')?.invalid"
          >Please enter a valid email</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          formControlName="password"
          type="password"
          required
          placeholder="Password"
        />
        <mat-error *ngIf="form.get('password')?.invalid"
          >Please enter a valid password</mat-error
        >
      </mat-form-field>
  
      <button
        [disabled]="!form.valid"
        mat-raised-button
        color="primary"
        type="submit"
      >
        Login
      </button>
    </form>
  </mat-card>
  